input:required:invalid, input:focus:invalid {
  background-image: url("./assets/invalid.png");
  background-position: right center;
  background-repeat: no-repeat;
  border-color: rgb(252 54 113)
}
input:required:valid {
  background-image: url("./assets/valid.png");
  background-position: right center;
  background-repeat: no-repeat;
}